<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum maxime, et eligendi eaque quis mollitia repellat non illum porro dolores placeat soluta a reiciendis necessitatibus, eveniet vero molestiae voluptates provident!</p>
</ion-content>