<!-- privacy.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Política de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">

  <!-- Seção 1 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Coleta de Informações Pessoais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nós, da EmpresaXYZ, coletamos informações pessoais de forma responsável e ética. Isso inclui dados como nome, endereço, e-mail, número de telefone e data de nascimento, obtidos quando você interage conosco, seja ao se cadastrar em nosso aplicativo ou ao utilizar nossos serviços. Essas informações são essenciais para personalizar sua experiência e garantir a qualidade dos serviços oferecidos.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>2. Uso de Informações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>As informações coletadas são utilizadas de maneira cuidadosa e estratégica. Personalizamos sua experiência no aplicativo, oferecemos serviços relevantes, processamos transações com segurança e constantemente aprimoramos nossos produtos e serviços para atender às suas necessidades. Ressaltamos que não fazemos uso de suas informações de maneira incompatível com os propósitos originais para os quais foram coletadas, garantindo sua privacidade e confiança.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 3 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>3. Cookies e Rastreamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Em nossa busca por oferecer a melhor experiência possível, utilizamos cookies e tecnologias de rastreamento. Essas ferramentas nos auxiliam na análise estatística, melhorando a usabilidade e personalizando o conteúdo do aplicativo de acordo com suas preferências. Ressaltamos que você tem a opção de configurar seu dispositivo para recusar cookies, mas isso pode impactar a funcionalidade do aplicativo.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 4 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>4. Compartilhamento de Informações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sua privacidade é nossa prioridade. Não compartilhamos suas informações pessoais com terceiros, a menos que seja estritamente necessário para fornecer nossos serviços, cumprir obrigações legais ou proteger nossos direitos. No caso de compartilhamento, implementamos medidas rigorosas de proteção para garantir a confidencialidade e integridade de suas informações.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 5 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>5. Segurança</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>A segurança de suas informações é uma prioridade inegociável para nós. Implementamos medidas robustas, incluindo a criptografia de dados, para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. Nossos colaboradores passam por treinamentos regulares sobre práticas de segurança, garantindo a integridade de nossos sistemas e a confidencialidade de suas informações.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 6 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>6. Consentimento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ao utilizar nosso aplicativo, você está consentindo de maneira consciente e informada com a coleta, uso e processamento de suas informações pessoais, conforme detalhado nesta política de privacidade. Queremos assegurar que você tenha controle sobre suas informações e que esteja confortável com a forma como as utilizamos para melhorar sua experiência.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 7 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>7. Menores de Idade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Destacamos que nosso aplicativo não é destinado a menores de 18 anos. Não coletamos intencionalmente informações de menores de idade. Se você é um pai ou responsável e descobrir que seu filho nos forneceu informações sem o seu consentimento, solicitamos que entre em contato conosco imediatamente para que possamos tomar as medidas necessárias para remover essas informações.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 8 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>8. Alterações nesta Política</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Comprometemo-nos a manter você informado sobre quaisquer alterações nesta política de privacidade. Reservamo-nos o direito de atualizá-la periodicamente para refletir mudanças nas práticas de privacidade. Caso ocorram alterações significativas, notificaremos os usuários para que estejam cientes das mudanças. Recomendamos que você reveja esta página regularmente para garantir que está atualizado.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 9 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>9. Links para Sites de Terceiros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nosso aplicativo pode conter links para sites de terceiros. É importante observar que esses sites possuem políticas de privacidade independentes. Não nos responsabilizamos pelas práticas de privacidade ou pelo conteúdo desses sites. Recomendamos que você leia atentamente as políticas de privacidade desses sites antes de interagir com eles.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 10 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>10. Retenção de Dados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Retemos suas informações pessoais pelo tempo necessário para fornecer os serviços solicitados e cumprir obrigações legais. Após esse período, suas informações serão excluídas ou anonimizadas de maneira segura. Valorizamos sua privacidade e garantimos que suas informações não serão retidas além do necessário.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 11 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>11. Seus Direitos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Você possui o direito de acessar, corrigir, atualizar ou excluir suas informações pessoais. Se desejar exercer esses direitos ou tiver dúvidas sobre como suas informações estão sendo processadas, nossa equipe de suporte está à disposição para ajudar. Queremos garantir que você tenha controle sobre suas informações e que estas estejam sempre precisas e atualizadas.</p>
    </ion-card-content>
  </ion-card>


  <!-- Seção 12 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>12. Alterações nesta Política</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ressaltamos novamente nosso compromisso de manter você informado sobre alterações nesta política. Notificaremos os usuários sobre alterações significativas, garantindo que você esteja sempre ciente das práticas de privacidade. Recomendamos a revisão regular desta página para estar atualizado.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 13 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>13. Consentimento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ao utilizar nosso aplicativo, você está dando seu consentimento explícito com a coleta, uso e processamento de suas informações pessoais conforme descrito nesta política de privacidade. Queremos reiterar que valorizamos sua privacidade e buscamos constantemente garantir a transparência em nossas práticas.</p>
    </ion-card-content>
  </ion-card>

  <!-- Seção 14 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>14. Contato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Se restar alguma dúvida sobre nossa Política de Privacidade, ou se precisar de mais esclarecimentos, não hesite em entrar em contato conosco em <a href="mailto:suporte&#64;empresaXYZ.com">suporte&#64;empresaXYZ.com</a>. Estamos aqui para garantir que você se sinta seguro e confiante em relação à proteção de suas informações pessoais.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
