<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">IoniQuinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt totam ullam accusamus enim. Dolorem ad ducimus laboriosam a expedita ullam quibusdam iure eaque architecto, voluptas nam aperiam sequi magnam.</p>

</ion-content>