<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="info-container">
    <div class="info-section">
      <p class="info-label">Id do dispositivo:</p>
      <pre class="info-value">{{dev.id | json }}</pre>
    </div>

    <div class="info-section">
      <p class="info-label">Dados do dispositivo:</p>
      <pre class="info-value">{{ dev.info | json }}</pre>
    </div>

    <div class="info-section">
      <p class="info-label">Status da bateria:</p>
      <pre class="info-value">{{ dev.bat | json }}</pre>
    </div>
  </div>

</ion-content>
