<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">

  <p>Id do dispositivo:</p>
  <pre>{{dev.id | json }}</pre>

  <p>Dados do dispositivo:</p>
  <pre>{{ dev.info | json }}</pre>

  <p>Status da bateria:</p>
  <pre>{{ dev.bat | json }}</pre>

</ion-content>